# Dart/Pub related
.dart_tool/
.packages
.pub/
build/
flutter_*.png

# Flutter plugins
.flutter-plugins
.flutter-plugins-dependencies
generated_plugin_registrant.dart

# VS Code settings (optional, but good)
.vscode/

# Windows specific Flutter build files
windows/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugin_registrant.h
windows/flutter/generated_plugins.cmake
windows/flutter/ephemeral/

# General ignores
*.lock
*.log
*.class
*.pyc
*.swp

# IntelliJ/Android Studio project files (delete if you're only using VS Code)
.idea/
*.iml

# Coverage output
coverage/

# Misc
.history
.buildlog/
linked_*.ds
unlinked.ds
unlinked_spec.ds
